* {
  border: none;
  font-family: "Noto Sans", "Material Design Icons", "Symbols Nerd Font Mono";
  font-size: 14px;
  color: #f5e0dc;
}

window#waybar {
  background-color: #313244;
  border-radius: 20px;
}

.modules-right {
  margin: 2px 16px 0 0;
}

.modules-center {
  margin: 2px 0 0 0;
}

.modules-left {
  margin: 2px 0 0 16px;
}

#workspaces button {
  border-radius: 0;
  margin: 0 2px;
  padding: 1px 5px;
  background-color: transparent;
  padding-top: 3px;
  border-bottom: 3px solid transparent;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: inherit;
}

#workspaces button.focused,
#workspaces button.active {
  padding-top: 3px;
  border-bottom: 3px solid #F74C00;
}

#workspaces button.occupied {
  font-weight: bold;
}

#workspaces button.urgent {
  padding-top: 3px;
  border-bottom: 3px solid #FB4934;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#backlight,
#mode {
  padding: 0 4px;
}

#mode {
  color: #cc3436;
  font-weight: bold;
}

#pulseaudio.muted {
  padding-top: 3px;
  border-bottom: 3px solid #cc241d;
}

#battery.charging,
#battery.full,
#battery.plugged {
  background: inherit;
  padding-top: 3px;
  border-bottom: 3px solid #B8BB26;
}

#battery.warning:not(.charging) {
  color: #e6e6e0;
  background: inherit;
  padding-top: 3px;
  border-bottom: 3px solid #FABD2F;
}

#battery.critical:not(.charging) {
  color: #CC241D;
  background: inherit;
  padding-top: 3px;
  border-bottom: 3px solid #FB4934;
}
